.infotreepage{
    background: rgba(255, 255, 252, 0.27);
    backdrop-filter: blur(1.7px);
    -webkit-backdrop-filter: blur(1.7px);
    border: 1px solid rgba(255, 255, 252, 0.27);
}  
  .paradescrip {
    display: flex;
    color: white;
  }
  .sliderBg {
    position: relative;
    overflow: auto;
    height: 100%;
    width: 100%;
  }

  
  @keyframes showcontent1 {
    to {
      transform: translateY(0);
      filter: blur(0);
      opacity: 1;
    }
  }

  .arrows {
    position: absolute;
    top: 30%;
    right: 5%;
    z-index: 100;
  }
  
  .arrows button {
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: 0.5s;
  }
  
  .arrows button:hover {
    background-color: #eee;
    color: black;
  }
  
 
  @media screen and (max-width: 678px) {
    .thumbnail {
      justify-content: flex-start;
    }
  
    #arrowinfo {
      top: 10%;
      right: 10px;
    }
  }
  
  .thumbnailImage {
    width: 100px;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s;
  }
  
  .thumbnailImage.hover,
  .thumbnailImage.active {
    opacity: 1;
  }
  
  .thumbnailContainer {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 50px;
    z-index: 10;
    bottom: 10px;
    left: 0;
    right: 0;
  }
  
  .thumbnailItem {
    width: 200px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 10px;
  }
  
  .thumbnailImage {
    width: 200px;
    height: 250px;
    display: block;
    border-radius: 20px;
  }
  
  .thumbnailTitle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 12px;
    padding: 2px 0;
  }
  
  @media (max-width: 767.98px) {
    .col-md-9 {
      width: 100%;
    }
  
    .thumbnailTitle {
      font-size: 10px;
      padding: 1px 0;
    }
  }
  