.App {
    font-family: 'Arial', sans-serif;
  }
  
  .slider-bg {
    position: relative;
    overflow: auto;
  }

.paradescrip {
    color: white;
}

.slider {
    display: flex;
    height: 50vh;
    margin-top: -25px;
    position: relative;
    z-index: 11;
}

.slider .list .item {
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.slider .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item::after {
    content1: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.slider .list .item .content2 {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
}

.slider .list .item .content2 p:nth-child(1) {
    text-transform: uppercase;
    letter-spacing: 10px;
}

.slider .list .item .content2 h2 {
    font-size: 100px;
    margin: 0;
}

.slider .list .item.active {
    opacity: 1;
    z-index: 10;
}

@keyframes showcontent1 {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3) {
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showcontent1 .5s .7s ease-in-out 1 forwards;
}

.slider .list .item.active h2 {
    animation-delay: 1s;
}

.slider .list .item.active p:nth-child(3) {
    animation-duration: 1.3s;
}

.arrows {
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}

.arrows button {
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}

.arrows button:hover {
    background-color: #eee;
    color: black;
}

.thumbnail {
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    width: 90%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    justify-content: center;
}

.thumbnail::-webkit-scrollbar {
    width: 0;
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail .item.active {
    filter: brightness(1.5);
}

.thumbnail .item .content2 {
    position: absolute;
    inset: auto 10px 10px 10px;
}

@media screen and (max-width: 678px) {
    .thumbnail {
        justify-content: start;
    }

    .slider .list .item .content2 h2 {
        font-size: 60px;
    }

    .arrows {
        top: 10%;
    }
}

.thumbnail-image {
    width: 100px;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s;
}

.thumbnail-imgae.hover,
.thumbnail-image.active {
    opacity: 1;
}

.thumbnail-container {
    display: flex;
    justify-content: center;
    position: fixed;
    margin-top: 50px;
    z-index: 10;
    bottom: 10px;
    left: 0;
    right: 0;
  }


.slider-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
}

.slider-bg {
    height: 100vh;
    width: 100vw;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    z-index: -10;
    position: absolute;

}

.thumbnail-item {
    width: 200px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 10px;
}

.thumbnail-image {
    width: 200px;
    height: 250px;
    display: block;
    border-radius: 20px;
}

.thumbnail-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    /* Semi-transparent background */
    color: white;
    font-size: 12px;
    padding: 2px 0;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (max-width: 767.98px) {
    .col-md-9 {
      width: 100%;
    }
    
    .slider-content {
      padding: 10px;
    }
    
    .thumbnail-title {
      font-size: 10px;
      padding: 1px 0;
    }
  }