.nav_bar {
    font-style: normal;
    font-size: medium;
    font-weight: bold;
}

.nav_link_custom {
    color: white;
    margin-left: 10px;
}

.nav_bar :hover {
    color: yellowgreen;
}

.logo {
    margin-left: 50px;
    font-size: xx-large;
    color: white;
    font-style: italic;
    font-weight: bold;
}

.overview {
    margin-left: 50px;
    font-size: xx-large;
    color: black;
}

.nav-collapse {
    position: absolute;
    top: 20px;
    right: 20px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 20px;
}

.button {
    border: 2px solid green;
    background-color: azure;
    border-radius: 5px;
    margin-left: 10px;
    text-decoration: none;
    display: inline-block;
}

.NotFound {
    text-align: center;
}

.sticky-nav.visible {
    transition: top 0.3s;
}

.sticky-nav.hidden {
    top: -100px;
    /* Adjust according to the height of your navbar */
    transition: top 0.3s;
}