.nav_bar {
    font-style: normal;
    font-size: medium;
    font-weight: bold;
}

.nav_bar1 {
    position: relative;
    margin-left: auto;
    margin-right: 30px;
    top: 0;
    right: 0;
    font-style: normal;
    font-size: medium;
    font-weight: bold;
}

.nav_bar .nav_link_custom,
.nav_bar {
    color: white !important;
    margin-left: 10px;
    transition: color 0.3s;
}

.nav_link_custom:hover{
    color: yellowgreen !important;
    font-size: larger;
}

.species {
    border: 1px solid #ccc;
    background-color: #ececa3;
    border-radius: 5px;
    margin: 5px;
}

.list {
    border: 1px solid #ccc;
    background-color: #abc32f;
    border-radius: 5px;
    margin: 5px;
}

.status {
    border: 1px solid #ccc;
    background-color: #809c13;
    border-radius: 5px;
    margin: 5px;
}

 .cycle {
    border: 1px solid #ccc;
    background-color: 	#607c3c;
    border-radius: 5px;
    margin: 5px;
}
.species .dropdown-menu {
    border: 1px solid #ccc;
    background-color: #ececa3;
    position: absolute;
    z-index: 1000;
}

.list .dropdown-menu {
    border: 1px solid #ccc;
    background-color: #abc32f;
    position: absolute;
    z-index: 1000;
}

.status .dropdown-menu {
    border: 1px solid #ccc;
    background-color: #809c13;
    position: absolute;
    z-index: 1000;
}

.cycle .dropdown-menu {
    border: 1px solid #ccc;
    background-color: #607c3c;
    position: absolute;
    z-index: 1000;
}

.logo{
    margin-left: 50px;
    font-size: xx-large;
    color: white;
    font-style: italic;
    font-weight: bold;
}

.overview{
    margin-left: 50px;
    font-size: xx-large;
    color: black;
}

.nav-collapse {
    position: absolute;
    top: 20px;
    right: 20px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 20px;
}

.button1 {
    border: 2px solid green;
    background-color: lightgreen;
    border-radius: 5px;
    margin-left: 10px;
    text-decoration: none;
    display: inline-block;
}

.button1:hover {
    color: black !important;
    font-size: larger;
}

.NotFound{
    text-align: center;
}
