body{
    background-image: url('img/bghome.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.mapContainer {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 650px;
    background-color: black;
    pointer-events: auto;
    border-radius: 30px;
}